html,
body {
  position: relative;
  min-height: 100vh;
  background-color: whitesmoke;
}

.bodyCon {
  /* same size as footer */
  padding-bottom: 60px;
  min-height: 50vh;
}

.featuresCon{
 min-height: 100vh;
 overflow-x: hidden;
}

#features{
  margin-top: 10px;
}

.parallax {
  /* The image used */
  background-image: url("../images/gradeBotPara.jpg");

  /* Set a specific height */
  min-height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}
